$minWidth: 375;
$maxWidth: 1920; // Ширина макета

$base-font-family: 'Roboto', sans-serif;
$base-font-color: black;

$base-transition-time: .3s;
$base-transition-easing: ease;

$color-accent: greenyellow;
$color-contrasting: white;

$intro-bg-color: orange;

$header-z-index: 5;
$bg-image-z-index: 1;
$context-text-z-index: 2;