.info {
  position: relative;

  padding-top: calc(var(--header-height) + 40px);
  padding-bottom: 60px;

  background-image: url(../images/calculator-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  color: white;

  &__inner {
  }

  &__title {
    text-align: center;
    font-size: 34px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.2em;

    margin-bottom: 85px;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.2em;

    b {
      font-weight: 800;
      color: #E9B34C;
    }
  }
}