.intro {
  position: relative;

  min-height: 100vh;
  padding-top: var(--header-height);

  background: $intro-bg-color;

  &__text {
    margin-top: 90px;
  }

  &__image-wrapper {
    position: absolute;
    top: 50%;
    right: 72px;
    transform: translateY(-50%);
  }

  &__image {
    width: auto;
    height: 600px;

    object-fit: contain;
  }

  &__inner {
    position: relative;
    z-index: $context-text-z-index;
  }

  &__title {
    max-width: 30rem;

    line-height: 1.2;
  }

  &__subtitle {
    max-width: 30rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

    @extend %fs-h4;
    line-height: 1.4;
  }

  &__button {
    
  }
}